.post {
  padding-top: 0;
  border: 1px solid lighten($darker-color, 20%);
  border-top: none;
  &-category {
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: center;

    &-item {
      text-transform: capitalize;
      font-size: 0.8rem;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &-content {
    .post-info {
      color: $darker-color;
      .hr-line {
        background: $darker-color;
      }
    }
  }
  &-description {
    //margin-top: 1.5rem;
    color: $medium-color;
  }

  &-options {
    &-list {
      display: flex;
      flex-wrap: wrap;
      li {
        color: $primary-color;
        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }
    &-link {
      text-transform: capitalize;
    }
  }
}
