.footer {
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      margin: 0 0.5rem;
    }
    &-link {
      color: #fff;
      text-transform: uppercase;
      padding: 0.25rem;
      @include media("desktop") {
        font-size: 0.9rem;
      }
    }
  }
}
