.container {
  max-width: $max-width;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  @include media("desktop") {
    padding: 0 2rem;
  }
}

// BG
.bg-light {
  @include set-bg($light-color);
}
.bg-dark {
  @include set-bg($dark-color);
}

.current {
  color: $primary-color;
}

.m-top {
  margin-top: $header-height;
}

// Buttons
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: $dark-color;
  background: #fff;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  transition: opacity $transition-delay linear;

  &:hover {
    opacity: 0.8;
  }

  &-primary {
    @include set-bg($primary-color);
  }
  &-block {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}

// Text
.x-large {
  font-size: 1.7rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.large {
  font-size: 1.3rem;
  line-height: 1.4;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.2rem;
}

.pretitle {
  color: $primary-color;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.hr-line {
  width: 2px;
  height: 0.8rem;
  background: #fff;
}

.line {
  width: 100%;
  height: 2px;
  background: lighten($darker-color, 20%);
  margin: 1.5rem 0;
}

// columns and rows
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  width: 45%;
  max-width: 45%;
}

// Link hover effect
.link-hover {
  @include link-transition;

  &:hover {
    color: $primary-color;
  }
}
