*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  line-height: 1.6;
  @include set-bg(#fff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark-color;
}

img {
  width: 100%;
  max-width: 100%;
}
